
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>撰写文章</title>

<link rel="stylesheet" href="/css/article.css">
<link rel="stylesheet" href="/css/indexs.css">

</head>
<body>
	<div id="logo">
		<a href="indexs"><img style="margin-left: 10px;" src="/img/logo.png" alt="" title="" /></a>
	</div>
	<aside>
		<section class="main-aside-avatar">
			<img src="/img/a.jpg" alt="">
		</section>
	</aside>	
	<section class="main-articles" >
		<form action="/indexs" method="post" class="edit">
            <%for(let o of content){%>
			<div class="text-group">
				<label for=""></label>
				<textarea type="text" name="Content" readonly><%=o.articleContent%></textarea>
			</div>
            <%}%>
            <center>
			<p><a href="../article">退出阅读</p>
            </center>
		</form>
	</section>			
<script src="/js/article.js"></script>

</body>
</html>